.nav-item__home-page {
	background-color: #177DC0;
}

#nav-item__home-page {
	color: #f7f7f7;
}

.box {
	padding: 0px 16px 16px 16px;
}

.box__single-object {
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	margin-top: 16px;
	bottom: 0;
	background-color: #f7f7f7;
	padding: 32px;
	border-radius: 8px;
	font-size: 24px;
}

.box__single-object__element {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.box__single-object__buttons {
	font-size: 16px;
	padding-top: 4px;
}

.box__single-object__buttons-first {
	margin-right: 8px;
}

.box__single-object__buttons a {
	color: #177DC0;
	text-decoration: none;
}

.box__single-object__buttons a:hover {
	text-decoration: underline;
}

.box__no-elements {
	color: #f7f7f7;
	padding-top: 20px;
	font-size: 16px;
}

.nav-item__all-objects {
	background-color: #177DC0;
}

#nav-item__all-objects {
	color: #f7f7f7;
}

.blue-name {
	color: #177DC0;
}

.box__single-object__left {
	display: flex;
}

.box__single-object__element-date {
	padding-right: 30px;
}

@media only screen and (max-device-width: 1000px) {
	.box__single-object {
		display: flex;
		justify-content: space-between;
		box-sizing: border-box;
		margin-top: 16px;
		bottom: 0;
		background-color: #f7f7f7;
		padding: 32px;
		border-radius: 8px;
		font-size: 32px;
	}
	.box__single-object__element {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.box__single-object__buttons {
		font-size: 32px;
		margin-top: 13px;
	}
	.box__single-object__buttons-first {
		margin-right: 8px;
	}
	.box__single-object__buttons a {
		color: #177DC0;
		text-decoration: none;
	}
	.box__single-object__buttons a:hover {
		text-decoration: underline;
	}
	.box__no-elements {
		color: #f7f7f7;
		padding-top: 20px;
		font-size: 32px;
	}
	.nav-item__all-objects {
		background-color: #177DC0;
	}
	#nav-item__all-objects {
		color: #f7f7f7;
	}
	.blue-name {
		color: #177DC0;
	}
	.box__single-object__left {
		display: flex;
	}
	.box__single-object__element-date {
		padding-right: 30px;
		padding-top: 20px;
		width: 230px;
	}
}

@media only screen and (max-width: 1000px) {
	.box__single-object {
		display: flex;
		justify-content: space-between;
		box-sizing: border-box;
		margin-top: 16px;
		bottom: 0;
		background-color: #f7f7f7;
		padding: 32px;
		border-radius: 8px;
		font-size: 32px;
	}
	.box__single-object__element {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.box__single-object__buttons {
		font-size: 32px;
		margin-top: 13px;
	}
	.box__single-object__buttons-first {
		margin-right: 8px;
	}
	.box__single-object__buttons a {
		color: #177DC0;
		text-decoration: none;
	}
	.box__single-object__buttons a:hover {
		text-decoration: underline;
	}
	.box__no-elements {
		color: #f7f7f7;
		padding-top: 20px;
		font-size: 32px;
	}
	.nav-item__all-objects {
		background-color: #177DC0;
	}
	#nav-item__all-objects {
		color: #f7f7f7;
	}
	.blue-name {
		color: #177DC0;
	}
	.box__single-object__left {
		display: flex;
	}
	.box__single-object__element-date {
		padding-right: 30px;
		padding-top: 20px;
		width: 230px;
	}
}
