body {
    background-color: #177DC0;
}

.login-box {
    width: 600px;
    height: 520px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    margin-bottom: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.login-box__logo-background-blue {
    position: relative;
    top: -100px;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0% 0 50% 50%;
    background: #177DC0;
    mix-blend-mode: normal;
}

.login-box__logo-background-white {
    width: 180px;
    height: 180px;
    position: relative;
    background: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    top: 10px;
    border-radius: 50%;
    mix-blend-mode: normal;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.login-box__logo-img{
    width: 120px;
    height: 120px;
    top: 30px;
    left: -3px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.login-box__input-box {
    display: flex;
}

.login-box__input {
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    width: 308px;
    height: 50px;
    background: #ECECEC;
    border-radius: 0 8px 8px 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
    display:inline-block;
    outline: none;
    padding: 0;
    padding-left: 20px;
    border: none;
}

.login-box__input-box__password {
    margin-top: 20px;
}

.login-box__img-background {
    width: 50px;
    height: 50px;
    background: #177DC0;
    border-radius: 8px 0px 0px 8px;
}

.login-box__img {
    text-align: center;
    padding-top: 4px;
}

.login-box__wrap {
    width: 378px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
}

.login-box__login-button {
    background-color: #177dc0;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 378px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    color: white;
    outline: none;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.login-box__login-button:hover, .login-box__login-button:focus {
    cursor: pointer;
    outline: none;
}

.login-box__login-button:hover {
    background-color: #1a74b0;
}

.login-box__incorrect-details {
   pointer-events: none;
   padding-top: 10px;
   color: white;
   font-size: 16px;
}

.red {
   color: red
}
