.box__wrap {
    width: 50%;
    height: 600px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    bottom: 0;
    background-color: #f4f4f4;
    padding: 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.box__header {
    width: 469px;
    height: 52px;
    font-size: 48px;
    line-height: 56px;
}

.box__form {
    height: 100%;
}

.box__single-billing {
    margin-top: 30px;
    display: flex;
}

.box__input {
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    height: 30px;
    width: 300%;
    background: #ECEBEB;
    border: 1px solid #B5B5B5;
    box-sizing: border-box;
    padding: 0;
    padding-left: 10px;
    outline: none;
}

.box__input-row__element-text {
    width: 450px;
    align-items:center;
    display: flex;
}

.box__input-row__element {
    display: flex;
    margin-right: 30px;
    margin-top: 30px;
}

.box__single-billing__button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.box__button {
    width: 378px;
    height: 64px;
    background: #177DC0;
    border-radius: 8px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 50px;
}

.box__button:hover {
    background-color: #1a74b0;
}

