.box {
	padding: 16px;
}

.box__wrap {
	width: 50%;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	bottom: 0;
	background-color: #f7f7f7;
	padding: 30px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.box__single-billing {
	display: flex;
	flex-direction: column;
}

.box__no-element {
	color: #f7f7f7;
}

.box__header {
	width: 469px;
	height: 52px;
	font-size: 48px;
	line-height: 56px;
}

.break-text {
	width: 70%;
	text-align: right;
	word-wrap: break-word;
}

.box__single-billing__element {
	margin-top: 30px;
	padding: 7px;
	background: #ededed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.box__single-billing__buttons {
	display: flex;
	margin-top: 30px;
	flex-direction: row;
	justify-content: center;
}

.box__single-billing__button {
	background-color: #177dc0;
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 200px;
	height: 50px;
	color: #f7f7f7;
	outline: none;
	margin: 0px 5px;
	border-radius: 8px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.text-inside-button {
	margin-top: 15px;
}

@media only screen and (max-device-width: 1000px) {
	.box__wrap {
		width: 90%;
		margin-top: 5%;
	}
	.box__header {
		font-size: 56px;
	}
	.box__single-billing__element {
		font-size: 32px;
		width: 98%;
	}
	.box__single-billing__button {
		font-size: 32px;
		height: 70px;
		width: 250px;
		font-size: 32px;
	}
	.button-padding-bottom {
		padding-bottom: 7px;
	}
}

@media only screen and (max-width: 1000px) {
	.box__wrap {
		width: 90%;
		margin-top: 5%;
	}
	.box__header {
		font-size: 56px;
	}
	.box__single-billing__element {
		font-size: 32px;
		width: 98%;
	}
	.box__single-billing__button {
		font-size: 32px;
		height: 70px;
		width: 250px;
		font-size: 32px;
	}
	.button-padding-bottom {
		padding-bottom: 7px;
	}
}
