<!-- New Billing Page -->

<!--On this page, users can create new Billing model instance-->

{% extends 'databank_system/base.html' %}
{% load static %}

{% block page_name %}
- New Billing
{% endblock %}

{% block title_block %}
<link rel="stylesheet" href="{% static 'css/new_billing.css' %}">
{% endblock %}

{% block body_block %}
<div class="box__wrap">
    <form class="box__form" method="post" action="{% url 'databank_system:new_billing' %}">
        {% csrf_token %}
        <div class="box__header">New Billing</div>
        <div class="box__input-row__element">
            <div class="box__input-row__element-text"> Date (d/m/y): </div>
            <input class="box__input" type="date" required name="date">
        </div>
        <div class="box__input-row__element">
            <div class="box__input-row__element-text"> Worker: </div>
            <input class="box__input" type="text" name="worker">
        </div>
        <div class="box__input-row__element">
            <div class="box__input-row__element-text"> Budget Code: </div>
            <input class="box__input" type="text" name="budget_code">
        </div>
        <div class="box__input-row__element">
            <div class="box__input-row__element-text"> Project number: </div>
            <input class="box__input" type="number" name="project" required>
        </div>
        <div class="box__input-row__element">
            <div class="box__input-row__element-text"> Unit: </div>
            <input class="box__input" type="text" name="unit">
        </div>
        <div class="box__input-row__element">
            <div class="box__input-row__element-text"> Cost (£): </div>
            <input class="box__input" type="number" step="0.01" name="cost">
        </div>
        <div class="box__button-wrapper">
            <input class="box__button" type="submit" value="Submit">
        </div>
    </form>
</div>
{% endblock %}
