<!-- Single Billing Page -->

<!--This page displays single selected billing-->

{% extends 'databank_system/base.html' %}
{% load static %}

{% block title_block %}
<link rel="stylesheet" href="{% static 'css/single_billing.css' %}">
{% endblock %}

{% block body_block %}
<div class="box">
    {% if billing %}
    <div class="box__wrap">
        <div class="box__single-billing">
            <div class="box__header">
                Billing
            </div>
            <div class="box__single-billing__element">
                <div>Date:</div>
                <div class="break-text">{{ billing.date }}</div>
            </div>
            <div class="box__single-billing__element">
                <div>Worker:</div>
                <div class="break-text">{{ billing.worker }}</div>
            </div>
            <div class="box__single-billing__element">
                <div>Budget Code:</div>
                <div class="break-text">{{ billing.budget_code }}</div>
            </div>
            <div class="box__single-billing__element">
                <div>Project number:</div>
                <div class="break-text">{{ billing.project }}</div>
            </div>
            <div class="box__single-billing__element">
                <div>Unit:</div>
                <div class="break-text">{{ billing.unit }}</div>
            </div>
            <div class="box__single-billing__element">
                <div>Cost (£):</div>
                <div class="break-text">{{ billing.cost }}</div>
            </div>
        </div>
        <div class="box__single-billing__buttons">
            <a class="box__single-billing__button"
                href="{% url 'databank_system:single_billing_edit' billing.id %}">
                <div class="text-inside-button">Edit</div>
            </a>
            <a class="box__single-billing__button"
                href="{% url 'databank_system:export_billing' billing.id %}">
                <div class="text-inside-button">Export</div>
            </a>
            <form action="{% url 'databank_system:delete_billing' billing.id %}" method="POST">
                {% csrf_token %}
                <button class="box__single-billing__button button-padding-bottom"
                    onclick="return confirm('Are you sure you want to delete this billing?');">Delete
                </button>
            </form>
        </div>
    </div>
    {% else %}
    <div class="box__no-element">This billing doesn't exist.</div>
    {% endif %}
</div>
{% endblock %}
